@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$family-sans-serif: "Nunito", sans-serif;

$purple: #8E2DE2;

$primary: $purple;

// bulma
@import "/node_modules/bulma/bulma.sass";

// bulma extensions
// @import "/node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";
@import "/node_modules/bulma-switch/src/sass/index.sass";

// Customizations
@import 'util/layout.scss';
@import 'util/result-list.scss';
