html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.loading-overlay {
	z-index: 10000;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@media (prefers-color-schema: "light") {
	.section.main {
		background-color: darken($color: white, $amount: 5);
	}
}
